In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\Sample.csv")
df

     Name Department  Semester   GPA    USN
0     Sam         DS         2  8.80  120.0
1    John        CSE         2  6.50  130.0
2    Cris        ISC         4  4.40  140.0
3  Johnny         DS         4  9.00  150.0
4     Ron         DS         4  3.02  160.0
5   Ginny         DS         2  5.23  170.0
6    Fred         DS         8  4.50  180.0
7     Jon        CSE         8  6.70    NaN

In [7]:
df.GPA.describe()

count    8.000000
mean     6.018750
std      2.133424
min      3.020000
25%      4.475000
50%      5.865000
75%      7.225000
max      9.000000
Name: GPA, dtype: float64

In [8]:
df.GPA.mean()

6.018750000000001

In [12]:
df.Department.unique()

array(['DS', 'CSE', 'ISC'], dtype=object)

In [14]:
df.Department.value_counts()

DS     5
CSE    2
ISC    1
Name: Department, dtype: int64

In [15]:
GPA_mean = df.GPA.mean()
df.GPA.map(lambda p: p - GPA_mean)

0    2.78125
1    0.48125
2   -1.61875
3    2.98125
4   -2.99875
5   -0.78875
6   -1.51875
7    0.68125
Name: GPA, dtype: float64